/* Insert your styles here */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Michroma&family=Roboto+Mono:wght@500&display=swap');

body {
    background-color: #8f8f8f;
}

header {
    font-family: 'Michroma', sans-serif;
    color: white;
    letter-spacing: .03em;
    background-color: #444444;
    text-align: center;
    font-size: 120px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

header img {
    max-height: 100px;
    max-width: 100px;
    padding: 10px;
}

footer {
    margin: 20px;
    padding: 20px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1em;
    background-color: #22a59c;
    font-size: 25px;
}

nav {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    text-align: left;
    padding: 14px 16px;
    letter-spacing: 0.1em;
    background-color: #22a59c;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav li {
        float: left;
    }

    nav li a {
        text-decoration: none;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
    }

    nav li a:hover {
        background-color: #1a756f;
    }

    nav li a:visited {
        color: black;
    }

main {
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    letter-spacing: .03em;
    min-width: 60em;
}

    main img {
        background-color: #444444;
        max-width: 100%;
        width: 300px;
        height: 300px;
        margin: 10px;
        padding: 20px;
    }

    main article {
        background-color: #444444;
        min-height: 100%;
    }

    main form {
        text-align: center;
        margin-top: 20px;
        background-color: #444444;
        min-height: 100%;
        padding: 20px;
    }

#AboutUs {
    padding: 20px;
    text-align: center;
}

#NowShowing {
    text-align: center;
}

#NowShowing img {
    margin-right: 250px;
    margin-left: 250px;
    width: 150px;
    height: 150px;
}

#NowShowing .Posters img {
    margin: 10px;
    width: 600px;
    height: 800px;
}

#SeatsAndPrices table {
    text-align: center;
    min-width: 50em;
}

#SeatsAndPrices th {
    background-color: black;
    padding: 10px;
}

#SeatsAndPrices tr:nth-child(2n-1) {
    background-color: #8f8f8f;
}

#SeatsAndPrices img {
    max-width: 100%;
}

.radio_btn input {
    position: absolute;
    opacity: 0;
}

.radio_btn label {
    min-width: 15em;
    text-align: center;
    display: inline-block;
    background-color: #8f8f8f;
    border-radius: 1em;
    border-bottom: solid 4px black;
    border-right: solid 2px black;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    vertical-align: bottom;
    cursor: pointer;
}

.radio_btn :hover + label {
    background-color: #22a59c;
}

.radio_btn :checked + label {
    border-bottom: none;
    border-right: none;
}

select, input[type=text], input[type=email], input[type=number] {
    font-family: 'Kanit', sans-serif;
    background-color: lightgrey;
    min-width: 15em;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
}